body {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.header {
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li {
  display: inline-block;
  margin: auto;
}

.navbar ul li a {
  text-decoration: none;
  margin: 0 40px;
  color: #6e7275;
}

.navbar ul li a:nth-child(4) {
  margin-right: 0;
}

/* Intro */

.intro {
  background: #eff8ff;
}

.content-intro {
  justify-content: space-between;
  align-items: center;
}

.content-intro h1 {
  font-size: 3em;
  font-weight: 500;
  line-height: 1.25em;
  color: #293145;
  margin-bottom: 50px;
}

.content-intro .btn {
  background: #0f9afe;
  color: #eff8ff;
  text-decoration: none;
  font-size: 1.125em;
  padding: 15px 35px;
  border: none;
  border-radius: 25px;
}

@media only screen and (max-width: 1220px) {
  .container {
    width: 760px;
  }

  .navbar ul li a {
    margin: 0 20px;
  }

  .content-intro h1 {
    font-size: 2em;
    margin-bottom: 30px;
  }

  .content-intro img {
    width: 70%;
  }

  .content-intro .btn {
    font-size: 1em;
    padding: 10px 25px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
  }

  .header {
    padding: 20px 0;
  }

  .navbar {
    display: none;
  }

  .img-logo {
    margin: 0 auto;
  }

  .content-intro {
    display: block;
  }

  .content-intro img {
    margin: 0 auto;
  }
}

/* Como funciona */
.funcionamento {
  margin: 50px 0;
}

.content-funcionamento {
  flex-direction: column;
}

.title-section {
  padding: 20px 0;
  margin-bottom: 30px;
}

.title-section h3 {
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}

.content-funcionamento ul {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}

.item-funcionamento {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-funcionamento img {
  margin-bottom: 30px;
}

.item-funcionamento h6 {
  font-size: 1.125em;
  font-weight: 500;
  margin-bottom: 20px;
}

.item-funcionamento p {
  width: 70%;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .content-funcionamento ul {
    display: block;
  }

  .item-funcionamento {
    margin-bottom: 40px;
  }

  .item-funcionamento p {
    width: 40%;
    text-align: center;
  }

  .title-section {
    padding: 20px 0;
    margin-bottom: 0;
  }
}

/* apresentação app */
.app {
  background: #eff8ff;
  padding: 20px 0;
}

.content-app {
  justify-content: space-between;
  align-items: center;
}

.info-app h3 {
  font-size: 2em;
  color: #293145;
  font-weight: 500;
  line-height: 2.5em;
}

.info-app p {
  width: 50%;
  line-height: 1.5em;
  font-size: 0.875em;
  color: #6e7275;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1220px) {
  .info-app h3 {
    font-size: 1.875em;
    line-height: 1.5em;
  }

  .info-app p {
    width: 80%;
  }

  .loja-app {
    width: 40%;
  }
}

@media only screen and (max-width: 800px) {
  .content-app {
    display: block;
  }

  .loja-app {
    width: 25%;
  }
}

/* Planos */
.planos {
  margin: 50px 0;
}

.subtitle {
  text-align: center;
  padding: 10px 0;
  width: 40%;
  color: 6e7275;
  font-weight: 300;
  margin: 0 auto;
  line-height: 1.5em;
}

.content-planos {
  flex-direction: column;
}

.lista-planos {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

.card {
  background: #eff8ff;
  padding: 50px 0;
  margin: 0 20px;
  border-radius: 8px;
}

.card h5 {
  font-size: 2em;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
}

.card .valor {
  font-weight: 500;
  font-size: 2em;
  text-align: center;
  margin: 50px 0;
}

.card .info-plano {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  line-height: 1.5em;
}

.call-to-action {
  text-align: center;
  margin-top: 50px;
}

.call-to-action a {
  background: #0f9afe;
  color: #eff8ff;
  text-decoration: none;
  font-size: 1.125em;
  padding: 8px 50px;
  border: none;
  border-radius: 25px;
}

@media only screen and (max-width: 1220px) {
  .lista-planos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0;
  }

  .card {
    width: 40%;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 800px) {
  .lista-planos {
    display: block;
  }

  .card {
    width: 70%;
    margin: 0 auto 30px auto;
  }
}
/* Contato */
.contato {
  background: url(../img/background.png);
}

.content-contato {
  flex-direction: column;
  padding: 50px 0;
}

.option {
  color: #eff8ff;
}

.email-contato {
  margin: 20px auto;
}

.email-contato input {
  margin-right: 20px;
  width: 250px;
  padding: 15px;
  background: none;
  border: none;
  color: #eff8ff;
  border-bottom: solid 2px #eff8ff;
  font-size: 1.125em;
}

.email-contato a {
  background: #0f9afe;
  color: #eff8ff;
  text-decoration: none;
  padding: 8px 40px;
  border: none;
  border-radius: 25px;
}

@media only screen and (max-width: 800px) {
  .subtitle {
    width: 50%;
  }

  .email-contato input {
    margin-bottom: 20px;
  }

  .email-contato a {
    width: 50px;
    margin: 0 auto;
  }

  .email-contato {
    display: flex;
    flex-direction: column;
  }
}

/* footer */
footer {
  padding: 30px 0;
}

footer p {
  margin: 0 auto;
}
