body {
  font-family: 'Sora', sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.header {
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li {
  display: inline-block;
  margin: auto;
}

.navbar ul li a {
  text-decoration: none;
  margin: 0 40px;
  color: #6e7275;
}

.navbar ul li a:nth-child(4) {
  margin-right: 0;
}

/* Intro */

.intro {
  background: #eff8ff;
}

.content-intro {
  justify-content: space-between;
  align-items: center;
}

.content-intro h1 {
  font-size: 3em;
  font-weight: 500;
  line-height: 1.25em;
  color: #293145;
  margin-bottom: 50px;
}

.content-intro .btn {
  background: #0f9afe;
  color: #eff8ff;
  text-decoration: none;
  font-size: 1.125em;
  padding: 15px 35px;
  border: none;
  border-radius: 25px;
}

/* Como funciona */
.funcionamento {
  margin: 50px 0;
}

.content-funcionamento {
  flex-direction: column;
}

.title-section {
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 80px;
}

.content-funcionamento ul {
  display: flex;
  justify-content: space-around;
}

.item-funcionamento {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-funcionamento img {
  margin-bottom: 30px;
}

.item-funcionamento h6 {
  font-size: 1.125em;
  font-weight: 500;
  margin-bottom: 20px;
}

.item-funcionamento p {
  width: 70%;
  text-align: center;
}

/* apresentação app */
.app {
  background: #eff8ff;
}

.content-app {
  justify-content: space-between;
  align-items: center;
}

.info-app h3 {
  font-size: 2em;
  color: #293145;
  font-weight: 500;
  line-height: 2.5em;
}

.info-app p {
  width: 50%;
  line-height: 1.5em;
  font-size: 0.875em;
  color: #6e7275;
  margin-bottom: 30px;
}
